<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="/luca-app/front/public/styles/help.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='/luca-app/front/home';" class="tabs">Home</button>
    <button onclick="location.href='/luca-app/front/login';" class="tabs">Sign In</button>
</div>

<div class="main-content">
    <div class="main-content">
        <h1>Welcome to Help Menu</h1>
        <form id="helpForm" action="/luca-app/main/help" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="content">Descriere Problema:</label>
            <textarea id="content" name="content" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</div>

<div class="low-bar">
    <div class="references">
        <label onclick="location.href='/luca-app/front/about';" class="references-element">About</label>
        <label onclick="location.href='/luca-app/front/index';" class="references-element">Site Index</label>
    </div>
</div>
<script src="/luca-app/front/public/js/helpForm.js"></script>
</body>
</html>
