<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="/luca-app/front/public/styles/home.css">
</head>
<body>
<div class="tab">
    <button class="tabs">Menu</button>
    <div class="search-bar">
        <input type="text" placeholder="Search">
        <div class="autocomplete-options-container result"></div>
    </div>
    <button class="tabs" onclick="location.href='/luca-app/front/login';">Log In</button>
</div>
<div class="main-content">
    <div class="intro">
        <div class="video-container">
        </div>
    </div>

</div>
<div class="announces">
    <h2>Announces</h2>
    <div class="announce-element">
    </div>
</div>
<div class="related-actors">
    <h2>Top Picks For You</h2>
    <div class="actor-element">
    </div>
</div>

<div class="today-actors">
    <h2>Today's Actors</h2>
    <div class="actor-element">
    </div>
</div>

<div class="Coming-Soon">
    <h2>Coming Soon</h2>
    <div class="actor-element">
    </div>
</div>
<div class="low-bar">
    <div>
        <button onclick="location.href='/luca-app/front/login';">Sign In For More Content</button>
    </div>
    <div class="follow-bar">
        <div class="follow-instagram-icon">
            <button>Instagram</button>
        </div>
        <div class="follow-facebook">
            <button>Facebook</button>
        </div>
    </div>
    <div class="references">
        <label onclick="location.href='/luca-app/front/about';" class="references-element">About</label>
        <label onclick="location.href='/luca-app/front/help';" class="references-element">Help</label>
        <label onclick="location.href='/luca-app/front/index';" class="references-element">Site Index</label>
    </div>
</div>
<div class="result"></div>
<script>
    fetch('/luca-app/main/announces_unauthenticated', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch the JSON data. Status: ' + response.status);
            }
            return response.json();
        })
        .then(data => {
            console.log('DATA : ', data);
            if (data && Array.isArray(data)) {
                const announceElement = document.querySelector('.announce-element');
                data.forEach(item => {
                    if (item && item.posterUrl) {
                        const imgElement = document.createElement('img');
                        imgElement.src = item.posterUrl;
                        imgElement.id = item.id;
                        imgElement.alt = item.show;
                        announceElement.appendChild(imgElement);
                    }
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });

    fetch('/luca-app/main/toppicks_unauthenticated', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch the JSON data. Status: ' + response.status);
            }
            return response.json();
        })
        .then(data => {
            console.log('DATA : ', data);
            if (data && Array.isArray(data)) {
                const actorElement = document.querySelector('.related-actors .actor-element');
                data.forEach(item => {
                    if (item && item.posterUrl) {
                        const imgElement = document.createElement('img');
                        imgElement.src = item.posterUrl;
                        imgElement.id = item.id;
                        imgElement.alt = item.full_name;
                        actorElement.appendChild(imgElement);
                    }
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });
    fetch('/luca-app/main/todayActors_unauthenticated', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch the JSON data. Status: ' + response.status);
            }
            return response.json();
        })
        .then(data => {
            console.log('DATA today: ', data);
            if (data && Array.isArray(data)) {
                const actorElement = document.querySelector('.today-actors .actor-element');
                data.forEach(item => {
                    if (item && item.posterUrl) {
                        const imgElement = document.createElement('img');
                        imgElement.src = item.posterUrl;
                        imgElement.id = item.id;
                        imgElement.alt = item.full_name;
                        actorElement.appendChild(imgElement);
                    }
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });

    fetch('/luca-app/main/commingSoon_unauthenticated', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch the JSON data. Status: ' + response.status);
            }
            return response.json();
        })
        .then(data => {
            console.log('DATA : ', data);
            if (data && Array.isArray(data)) {
                const announceElement = document.querySelector('.Coming-Soon .actor-element');
                data.forEach(item => {
                    if (item && item.posterUrl) {
                        const imgElement = document.createElement('img');
                        imgElement.src = item.posterUrl;
                        imgElement.id = item.id;
                        imgElement.alt = item.show;
                        announceElement.appendChild(imgElement);
                    }
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });
</script>
</body>
</html>