<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome on AcVis!</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<h1>Navigation Page Index</h1>
<ul>
    <li><a href="/luca-app/front/home">Home</a></li>
    <li><a href="/luca-app/front/about">About</a></li>
    <li><a href="/luca-app/front/actor-profile">Profile Actor</a></li>
    <li><a href="/luca-app/front/admin">Admin Page</a></li>
    <li><a href="/luca-app/front/login">Login</a></li>
    <li><a href="/luca-app/front/register">Register</a></li>
    <li><a href="/luca-app/front/forgot">Forgot Password</a></li>
    <li><a href="/luca-app/front/favorites">Favorite</a></li>
    <li><a href="/luca-app/front/help">Help</a></li>
    <li><a href="/luca-app/front/news">News</a></li>
</ul>
</body>

</html>
