<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="/luca-app/front/styles/news.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='/luca-app/front/home';" class="tabs">Home</button>
    <div class="search-bar">
        <input type="text" placeholder="Search">
    </div>
    <button onclick="handleLogout()" class="tabs"> Log Out </button>
</div>
<div class="main-content">
    <table class="center-table">
        <thead>
        <tr>
            <th>Year</th>
            <th>Category</th>
            <th>Show</th>
            <th>Winner</th>
            <th>Full Name</th>
        </tr>
        </thead>
        <tbody id="actorTable">
        <!-- Actor data will be populated here -->
        </tbody>
    </table>
</div>
<div class="low-bar">
    <div class="references">
        <label onclick="location.href='/luca-app/front/about';" class="references-element">About</label>
        <label onclick="location.href='/luca-app/front/help';" class="references-element">Help</label>
        <label onclick="location.href='/luca-app/front/index';" class="references-element">Site Index</label>
    </div>
</div>
<script>
    async function fetchActors() {
        try {
            const response = await fetch('/luca-app/main/nominatedActors');
            const data = await response.json();
            const table = document.getElementById('actorTable');
            data.forEach(actor => {
                let row = `<tr onclick="location.href='news/:${actor.full_name}'">
                <td>${actor.year}</td>
                <td>${actor.category}</td>
                <td>${actor.show}</td>
                <td>${actor.won ? 'Yes' : 'No'}</td>
                <td>${actor.full_name || ''}</td>
            </tr>`;
                table.innerHTML += row;
            });
        } catch (error) {
            console.error('Failed to fetch actors:', error);
        }
    }

    // Call fetchActors on page load
    document.addEventListener('DOMContentLoaded', fetchActors);
</script>
</body>
</html>