<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="/luca-app/front/public/styles/news.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='/luca-app/front/home';" class="tabs">Home</button>
    <div class="search-bar">
        <input type="text" placeholder="Search">
        <div class="autocomplete-options-container result"></div>
    </div>
    <button class="tabs" onclick="redirectToRSS()">RSS</button>
    <button onclick="handleLogout()" class="tabs"> Log Out </button>
</div>
<div class="main-content">
    <h1 class="news">Today's News</h1>
    <div class="today-date">
    </div>
    <div class="news-container" id="news-container">
    </div>
</div>

</div>
<div class="low-bar">
    <div class="references">
        <label onclick="location.href='/luca-app/front/about';" class="references-element">About</label>
        <label onclick="location.href='/luca-app/front/help';"  class="references-element">Help</label>
        <label onclick="location.href='/luca-app/front/index';" class="references-element">Site Index</label>
    </div>
</div>
<script src="/luca-app/front/public/js/logout.js"></script>
<script src="/luca-app/front/public/js/urlHelpers.js"></script>
<script src="/luca-app/front/public/js/redirectToRSS.js"></script>
<script src="/luca-app/front/public/js/newsLoader.js"></script>
<script src="/luca-app/front/public/js/search.js"></script>
</body>
</html>