<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="/luca-app/front/styles/about.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='/luca-app/front/home';" class="tabs">Home</button>
    <div class="search-bar">
        <input type="text" placeholder="Search">
    </div>
    <button onclick="location.href='/luca-app/front/login';" class="tabs">Sign In</button>
</div>
<div class="about">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien vel
        elit pharetra dictum. Sed vehicula orci eu mauris lacinia, quis fermentum metus
        fermentum. Quisque commodo, tortor eget laoreet fermentum, eros turpis venenatis magna,
        sed posuere lectus leo id risus. Vestibulum dignissim pulvinar tortor, et condimentum velit
        ullamcorper ac. Proin ullamcorper varius ligula, nec faucibus nisi aliquam ac. Integer sit
        amet ligula feugiat, gravida enim nec, volutpat quam. Vivamus lobortis, urna vel viverra rutrum,
        justo neque accumsan turpis, vel ultricies sapien metus et ex. Vivamus maximus eget urna nec elementum.
        Integer volutpat eros sit amet sem mattis accumsan. Sed pretium velit vitae magna efficitur, vel congue
        risus accumsan. Vivamus auctor nibh vitae dolor tincidunt, nec bibendum ex pellentesque. Sed in erat nunc.
        Vivamus vestibulum, lectus ac varius vehicula, elit dolor interdum sapien, ac fermentum purus mauris sit
        amet nunc. Sed consequat elit sed ultricies elementum.</p>
</div>
<div class="low-bar">
    <div class="references">
        <label onclick="location.href='/luca-app/front/help';" class="references-element">Help</label>
        <label onclick="location.href='/luca-app/front/index';" class="references-element">Site Index</label>
    </div>
</div>
</body>
</html>