<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="../styles/actor-profile.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='home.html';" class="tabs">Home</button>
    <div class="search-bar">
        <input type="text" placeholder="Search">
    </div>
    <button onclick="location.href='news.html';" class="tabs">Notifications</button>
    <button onclick="location.href='favorites.html';" class="tabs">Favorites</button>
    <button class="tabs">Add to Favourites</button>
    <button onclick="location.href='home.html';" class="tabs">Log Out</button>
</div>
<div class="intro-container">
    <div class="actress-name">
        <h1>Emma Stone</h1>
    </div>
    <div class="intro-pictures">
    <div class="actor-picture">
        <img src="../img/MV5BMjI4NjM1NDkyN15BMl5BanBnXkFtZTgwODgyNTY1MjE@._V1_.jpg" alt="Placeholder Image Actors">
    </div>
    <div class="intro-video">
        <img src="../img/8f117cc2a8562d6d041792fc6525a198.gif" alt="Placeholder Image video">
    </div>
    </div>
</div>
<div class="Actor-Awards">
    <h1>Actor Awards :</h1>
    <div class="movie-awards">
        <div class="movie-container">
            <!-- Repetă acest bloc pentru fiecare detaliu de film -->
            <div class="movie-details">
                <div class="year">
                    <h2>Year 2002</h2>
                </div>
                <div class="category">
                    <h2>Drama Movie</h2>
                </div>
                <div class="movie-name">
                    <h2>Lala Land</h2>
                </div>
                <div class="Score">
                    <h3>Score: 8.2</h3>
                </div>
                <div class="movie-picture">
                    <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
                </div>
            </div>
            <div class="movie-details">
                <div class="year">
                    <h2>Year 2002</h2>
                </div>
                <div class="category">
                    <h2>Drama Movie</h2>
                </div>
                <div class="movie-name">
                    <h2>Lala Land</h2>
                </div>
                <div class="Score">
                    <h3>Score: 8.2</h3>
                </div>
                <div class="movie-picture">
                    <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
                </div>
            </div>
            <div class="movie-details">
                <div class="year">
                    <h2>Year 2002</h2>
                </div>
                <div class="category">
                    <h2>Drama Movie</h2>
                </div>
                <div class="movie-name">
                    <h2>Lala Land</h2>
                </div>
                <div class="Score">
                    <h3>Score: 8.2</h3>
                </div>
                <div class="movie-picture">
                    <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
                </div>
            </div>
            <div class="movie-details">
                <div class="year">
                    <h2>Year 2002</h2>
                </div>
                <div class="category">
                    <h2>Drama Movie</h2>
                </div>
                <div class="movie-name">
                    <h2>Lala Land</h2>
                </div>
                <div class="Score">
                    <h3>Score: 8.2</h3>
                </div>
                <div class="movie-picture">
                    <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
                </div>
            </div>
            <div class="movie-details">
                <div class="year">
                    <h2>Year 2002</h2>
                </div>
                <div class="category">
                    <h2>Drama Movie</h2>
                </div>
                <div class="movie-name">
                    <h2>Lala Land</h2>
                </div>
                <div class="Score">
                    <h3>Score: 8.2</h3>
                </div>
                <div class="movie-picture">
                    <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
                </div>
            </div>
            <div class="movie-details">
                <div class="year">
                    <h2>Year 2002</h2>
                </div>
                <div class="category">
                    <h2>Drama Movie</h2>
                </div>
                <div class="movie-name">
                    <h2>Lala Land</h2>
                </div>
                <div class="Score">
                    <h3>Score: 8.2</h3>
                </div>
                <div class="movie-picture">
                    <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
                </div>
            </div>
            <div class="movie-details">
                <div class="year">
                    <h2>Year 2002</h2>
                </div>
                <div class="category">
                    <h2>Drama Movie</h2>
                </div>
                <div class="movie-name">
                    <h2>Lala Land</h2>
                </div>
                <div class="Score">
                    <h3>Score: 8.2</h3>
                </div>
                <div class="movie-picture">
                    <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
                </div>
            </div>
            <div class="movie-details">
                <div class="year">
                    <h2>Year 2002</h2>
                </div>
                <div class="category">
                    <h2>Drama Movie</h2>
                </div>
                <div class="movie-name">
                    <h2>Lala Land</h2>
                </div>
                <div class="Score">
                    <h3>Score: 8.2</h3>
                </div>
                <div class="movie-picture">
                    <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
                </div>
            </div>
            <div class="movie-details">
                <div class="year">
                    <h2>Year 2002</h2>
                </div>
                <div class="category">
                    <h2>Drama Movie</h2>
                </div>
                <div class="movie-name">
                    <h2>Lala Land</h2>
                </div>
                <div class="Score">
                    <h3>Score: 8.2</h3>
                </div>
                <div class="movie-picture">
                    <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
                </div>
            </div>
            <!-- Sfârșitul blocului pentru detaliile filmului -->
        </div>
    </div>
    <div class="upcoming-movies">
        <h1>Upcoming Movies</h1>
        <div class="movie-container">
            <div class="movie-details">
                <div class="movie-name">
                    <h2>Cruella 2</h2>
                </div>
                <div class="movie-picture">
                    <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
                </div>
                <h3>Coming in 2001</h3>
            </div>
        </div>
    </div>
    <div class="all-movies">
        <button class="see-movies">See All Movies</button>
        <h1>All Movies:</h1>
        <div class="movie-container">
            <div class="movie-details">
                <div class="movie-name">
                    <h1>Poor Things</h1>
                </div>
                <div class="movie-picture">
                    <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
                </div>
            </div>
        </div>
    </div>
    <div class="related-news">
        <h1>Some related News</h1>
        <div class="movie-details">
            <div class="movie-name">
                <h1>Poor Things</h1>
            </div>
            <div class="movie-picture">
                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image Actors">
            </div>
    </div>
</div>
<div class="low-bar">
    <div class="references">
        <label onclick="location.href='about.html';" class="references-element">About</label>
        <label onclick="location.href='help.html';" class="references-element">Help</label>
        <label onclick="location.href='index.html';" class="references-element">Site Index</label>
    </div>
</div>
</div>
</body>
</html>
