<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="../styles/admin.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='http://localhost:3001/home';" class="tabs">Home</button>
    <div class="search-bar">
        <input type="text" placeholder="Search">
    </div>
    <button class="tabs">Add user</button>
</div>

<div class="admin">
    <h2 class="title">Admin Panel</h2>
    <div class="admin-column">
        <h2>Mihail Buturuga</h2>
        <button>Delete</button>
        <button>Update</button>
    </div>
    <div class="admin-column">
        <h2>Ashf[oahfa</h2>
        <button>Delete</button>
        <button>Update</button>
    </div>
    <div class="admin-column">
        <h2>Atat</h2>
        <button>Delete</button>
        <button>Update</button>
    </div>
    <div class="admin-column">
        <h2>Nastasa Baras Luca</h2>
        <button>Delete</button>
        <button>Update</button>
    </div>
    <div class="admin-column">
        <h2>Tiganus Riccardo Ionel</h2>
        <button>Delete</button>
        <button>Update</button>
    </div>
</div>

<div class="low-bar">
    <div class="references">
        <label onclick="location.href='http://localhost:3001/about';" class="references-element">About</label>
        <label onclick="location.href='http://localhost:3001/help';" class="references-element">Help</label>
        <label onclick="location.href='http://localhost:3001/index';" class="references-element">Site Index</label>
    </div>
</div>
</body>
</html>