<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="../styles/favourites.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='/home';" class="tabs">Home</button>
    <div class="search-bar">
        <button>Option</button>
        <input type="text" placeholder="Search">
    </div>
    <button onclick="location.href='/favorites';" class="tabs">Favorites</button>
    <button onclick="location.href='/home';" class="tabs">Log Out</button>
</div>
<div class="main-content">
    <h1 class="favourites-page">Your Favourites</h1>
    <div class="your-favourites-actors">
        <h2>Your Favourites Actors</h2>
    </div>
</div>
<div class="low-bar">
    <div class = "references">
        <label onclick="location.href='/about';" class="references-element">About</label>
        <label onclick="location.href='/help';" class="references-element">Help</label>
        <label onclick="location.href='/index';" class="references-element">Site Index</label>
    </div>
</div>
<script>
    function redirectToActor(event){
        event.preventDefault();
        const id = event.target.id;
        let formData = new URLSearchParams();
        formData.append('id', id);
        console.log(formData)

        fetch('http://localhost:3001/send-actor-id', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: formData
        })
            .then(response => {
                // console.log('Raw Response:', response);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                window.location.href = `/actor-profile/${id}`
                console.log('Raw Response:', response);
                return response;
            })
            /*.then(data => {
                if (data.success) {

                } else {
                    console.log('DATA : ',data)
                    alert('Id not sent. Check if id exists ');
                }
            })*/
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred: ' + error.message);
            });
    }

    fetch('http://localhost:3001/all-favorites', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch the JSON data. Status: ' + response.status);
            }
            return response.json();
        })
        .then(data => {
            const ids = data.map(item => item.id_actor);
            ids.forEach(id => {
                console.log(id);
                let formData = new URLSearchParams();
                formData.append('id', id);
                console.log(formData);
                fetch('http://localhost:3001/actor-profile-info', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: formData,
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to fetch the JSON data. Status: ' + response.status);
                        }
                        return response.json();
                    })
                    .then(data => {
                        const actorDetailsDiv = document.createElement('div');
                        actorDetailsDiv.classList.add('actor-details');

                        const actorNameDiv = document.createElement('div');
                        actorNameDiv.classList.add('actor-name');
                        const actorNameH2 = document.createElement('h2');
                        actorNameH2.textContent = data.data[0].name;
                        actorNameDiv.appendChild(actorNameH2);
                        actorDetailsDiv.appendChild(actorNameDiv);

                        const actorPictureDiv = document.createElement('div');
                        actorPictureDiv.classList.add('actor-picture');
                        const actorImg = document.createElement('img');
                        actorImg.src = data.data[0].profile_path;
                        actorImg.id = id;
                        actorPictureDiv.appendChild(actorImg);
                        actorDetailsDiv.appendChild(actorPictureDiv);
                        const actorContainer = document.querySelector('.your-favourites-actors');
                        actorContainer.appendChild(actorDetailsDiv);

                        actorImg.addEventListener('click',redirectToActor);

                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Error: ' + error.message);
                    });
            })

        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });


</script>
</body>
</html>