<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="../styles/favourites.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='/home';" class="tabs">Home</button>
    <div class="search-bar">
        <button>Option</button>
        <input type="text" placeholder="Search">
    </div>
    <button onclick="location.href='/favorites';" class="tabs">Favorites</button>
    <button onclick="location.href='/home';" class="tabs">Log Out</button>
</div>
<div class="main-content">
    <h1 class="favourites-page">Your Favourites</h1>
    <div class="your-favourites-actors">
        <h2>Your Favourites Actors</h2>
        <div class="actor-element">
            <div class="actor-details">
                <div class="actor-name">
                    <h2>Ana de Armas</h2>
                </div>
                <div class="actor-picture">
                    <img src="../img/tmp_AvvDvj_e8e6a4c0679b5a83_GettyImages-1197390293.jpg" alt="Placeholder Image Actors">
                </div>
            </div>
            <div class="actor-details">
                <div class="actor-name">
                    <h2>Al Pacino</h2>
                </div>
                <div class="actor-picture">
                    <img src="../img/Al_Pacino.jpg" alt="Placeholder Image Actors">
                </div>
            </div>
        </div>
    </div>
    <div class="your-favourites-movies">
        <h2>Your Favourites Movie Types</h2>
        <button class="movies-categories">Options</button>
        <div class="actor-element">
            <div class="movie-details">
                <div class="year">
                    <h2>Year 2017</h2>
                </div>
                <div class="category">
                    <h2>Drama Movie</h2>
                </div>
                <div class="movie-name">
                    <h2>Blade Runner 2049</h2>
                </div>
                <div class="Score">
                    <h3>Score: 8.2</h3>
                </div>
                <div class="movie-picture">
                    <img src="../img/s-l1200.jpg" alt="Placeholder Image Actors">
                </div>
            </div>
            <div class="movie-details">
                <div class="year">
                    <h2>Year 1983</h2>
                </div>
                <div class="category">
                    <h2>Drama Movie</h2>
                </div>
                <div class="movie-name">
                    <h2>Scarface</h2>
                </div>
                <div class="Score">
                    <h3>Score: 8.2</h3>
                </div>
                <div class="movie-picture">
                    <img src="../img/images.jpeg" alt="Placeholder Image Actors">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="low-bar">
    <div class = "references">
        <label onclick="location.href='/about';" class="references-element">About</label>
        <label onclick="location.href='/help';" class="references-element">Help</label>
        <label onclick="location.href='/index';" class="references-element">Site Index</label>
    </div>
</div>
</body>
</html>