<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="../styles/help.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='/home';" class="tabs">Home</button>
    <div class="search-bar">
        <input type="text" placeholder="Search">
    </div>
    <button onclick="location.href='http://localhost:3000/login';" class="tabs">Sign In</button>
</div>

<div class="main-content">
    <h1>Welcome to Help Menu</h1>

    <div class="description">
        <textarea placeholder="Type your message here..." rows="4" cols="50"></textarea>
        <button class="send-button">Send</button>
    </div>

    <div class="live-chat">
        <h2>Live Chat - if you need immediate assistance</h2>
        <textarea placeholder="Start typing..." rows="4" cols="50"></textarea>
        <button class="send-button">Send</button>
    </div>
</div>

<div class="low-bar">
    <div class="references">
        <label onclick="location.href='/about';" class="references-element">About</label>
        <label onclick="location.href='/index';" class="references-element">Site Index</label>
    </div>
</div>
</body>
</html>
