<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="../styles/help.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='/home';" class="tabs">Home</button>
    <div class="search-bar">
        <input type="text" placeholder="Search">
    </div>
    <button onclick="location.href='http://localhost:3000/login';" class="tabs">Sign In</button>
</div>

<div class="main-content">
    <div class="main-content">
        <h1>Welcome to Help Menu</h1>
        <form action="/send-help-request" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="content">Descriere Problema:</label>
            <textarea id="content" name="content" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</div>

<div class="low-bar">
    <div class="references">
        <label onclick="location.href='/about';" class="references-element">About</label>
        <label onclick="location.href='/index';" class="references-element">Site Index</label>
    </div>
</div>
</body>
</html>
