<!DOCTYPE html>
    <html lang="ro">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ACVIS</title>
        <link rel="stylesheet" href="../styles/home.css">
    </head>
    <body>
    <div class="tab">
            <button class="tabs">Menu</button>
            <div class="search-bar">
                <button>Option</button>
                <input type="text" placeholder="Search">
            </div>
            <button onclick="location.href='/news';" class="tabs">Notifications</button>
            <button onclick="location.href='/favorites';" class="tabs">Favorites</button>
            <button onclick="location.href='/login';" class="tabs">Sign In</button>
            <button onclick="location.href='/news';" class="tabs">See News</button>
    </div>
    <div class="main-content">
        <div class="intro">
            <div class="video-container">
                <img src="../img/207125-ezgif.com-resize.gif" alt="Placeholder Image 1">
            </div>
        </div>
        <div class="news-container">
            <h2>News</h2>
            <div class="news-element">
                <img src="../img/images.jpeg" alt="Placeholder Image 1">
            </div>
        </div>

    </div>
        <div class="announces">
            <h2>Announces</h2>
            <div class="announce-element">
<!--                <img src="../img/back-to-black-one-sheet-659fd451f119d.jpg" alt="Placeholder Image 1">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 2">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 2">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 2">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 2">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 2">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 2">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 2">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 2">-->
            </div>
        </div>
        <div class="related-actors">
            <h2>Top Picks For You</h2>
            <div class="actor-element">
<!--                <img src="../img/gettyimages-1197366653.jpg" alt="Placeholder Image 4">-->
<!--                <img src="../img/MV5BMjI4NjM1NDkyN15BMl5BanBnXkFtZTgwODgyNTY1MjE@._V1_.jpg"  alt="Placeholder Image 4" onclick="window.location.href='/actor-profile';">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 4">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 4">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 4">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 4">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 4">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 4">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 4">-->
            </div>
        </div>

        <div class="today-actors">
            <h2>Today's Actors</h2>
            <div class="actor-element">
<!--                <img src="../img/MV5BMTc5MjgyMzk4NF5BMl5BanBnXkFtZTcwODk2OTM4Mg@@._V1_.jpg" alt="Placeholder Image 5">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 5">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 5">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 5">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 5">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 5">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 5">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 5">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 5">-->

            </div>
        </div>
        <div class="section1">
            <h1>What to watch</h1>
        </div>

        <div class="top-picks-this-week">
            <h2>Top Actor Picks This Week</h2>
            <div class="actor-element">
<!--                <img src="../img/MV5BMjI0MTg3MzI0M15BMl5BanBnXkFtZTcwMzQyODU2Mw@@._V1_FMjpg_UX1000_.jpg" alt="Placeholder Image 6">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 6">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 6">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 6">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 6">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 6">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 6">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 6">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 6">-->
            </div>
        </div>

        <div class="fan-favourites">
            <h2>Fans Favourites</h2>
            <div class="actor-element">
<!--                <img src="../img/MV5BN2IzYzBiOTQtNGZmMi00NDI5LTgxMzMtN2EzZjA1NjhlOGMxXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_FMjpg_UX1000_.jpg" alt="Placeholder Image 7">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 7">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 7">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 7">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 7">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 7">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 7">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 7">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 7">-->
            </div>
        </div>

        <div class="explore-actors">
            <h2>Explore Actors</h2>
            <div class="actor-element">
<!--                <img src="../img/gettyimages-1197366653.jpg" alt="Placeholder Image 8">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 8">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 8">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 8">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 8">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 8">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 8">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 8">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 8">-->
            </div>
        </div>

        <div class="Coming-Soon">
            <h2>Coming Soon</h2>
            <div class="actor-element">
<!--                <img src="../img/MV5BNDE3ODcxYzMtY2YzZC00NmNlLWJiNDMtZDViZWM2MzIxZDYwXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_.jpg" alt="Placeholder Image 9">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 9">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 9">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 9">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 9">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 9">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 9">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 9">-->
<!--                <img src="https://via.placeholder.com/200x300" alt="Placeholder Image 9">-->
            </div>
        </div>
        <div class="low-bar">
            <div>
                <button onclick="location.href='/login';">Sign In For More Content</button>
            </div>
            <div class="follow-bar">
                <div class="follow-instagram-icon">
                    <button>Instagram</button>
                </div>
                <div class="follow-facebook">
                    <button>Facebook</button>
                </div>
            </div>
            <div class = "references">
                <label onclick="location.href='/about';" class="references-element">About</label>
                <label onclick="location.href='/help';" class="references-element">Help</label>
                <label onclick="location.href='/index';" class="references-element">Site Index</label>
            </div>
        </div>
    <script>

    </script>
    </body>
</html>