<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="/luca-app/main/styles/home.css">
</head>
<body>
<div class="tab">
    <button class="tabs">Menu</button>
    <div class="search-bar">
        <input type="text" placeholder="Search">
        <div class="autocomplete-options-container result"></div>
    </div>
    <button class="tabs" onclick="location.href='http://luca-app:5000/luca-app/auth/login';">Log In</button>
</div>
<div class="main-content">
    <div class="intro">
        <div class="video-container">
        </div>
    </div>

</div>
<div class="announces">
    <h2>Announces</h2>
    <div class="announce-element">
    </div>
</div>
<div class="related-actors">
    <h2>Top Picks For You</h2>
    <div class="actor-element">
    </div>
</div>

<div class="today-actors">
    <h2>Today's Actors</h2>
    <div class="actor-element">
    </div>
</div>

<div class="Coming-Soon">
    <h2>Coming Soon</h2>
    <div class="actor-element">
    </div>
</div>
<div class="low-bar">
    <div>
        <button onclick="location.href='/luca-app/auth/login';">Sign In For More Content</button>
    </div>
    <div class="follow-bar">
        <div class="follow-instagram-icon">
            <button>Instagram</button>
        </div>
        <div class="follow-facebook">
            <button>Facebook</button>
        </div>
    </div>
    <div class="references">
        <label onclick="location.href='/luca-app/main/about';" class="references-element">About</label>
        <label onclick="location.href='/luca-app/main/help';" class="references-element">Help</label>
        <label onclick="location.href='/luca-app/main/index';" class="references-element">Site Index</label>
    </div>
</div>
<div class="result"></div>
<script>
    function redirectToActor(event){
        event.preventDefault();
        const id = event.target.id;
        let formData = new URLSearchParams();
        formData.append('id', id);
        console.log(formData)

        fetch('http://luca-app:5000/luca-app/main/send-actor-id', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: formData
        })
            .then(response => {
                // console.log('Raw Response:', response);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                window.location.href = `/luca-app/main/actor-profile/${id}`
                console.log('Raw Response:', response);
                return response;
            })
            /*.then(data => {
                if (data.success) {

                } else {
                    console.log('DATA : ',data)
                    alert('Id not sent. Check if id exists ');
                }
            })*/
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred: ' + error.message);
            });
    }

    fetch('http://luca-app:5000/luca-app/main/announces', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch the JSON data. Status: ' + response.status);
            }
            return response.json();
        })
        .then(data => {
            console.log('DATA : ', data);
            if (data && Array.isArray(data)) {
                const announceElement = document.querySelector('.announce-element');
                data.forEach(item => {
                    if (item && item.posterUrl) {
                        const imgElement = document.createElement('img');
                        imgElement.src = item.posterUrl;
                        imgElement.id = item.id;
                        imgElement.alt = item.show;
                        announceElement.appendChild(imgElement);
                    }
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });

    fetch('http://luca-app:5000/luca-app/main/toppicks', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch the JSON data. Status: ' + response.status);
            }
            return response.json();
        })
        .then(data => {
            console.log('DATA : ', data);
            if (data && Array.isArray(data)) {
                const actorElement = document.querySelector('.related-actors .actor-element');
                data.forEach(item => {
                    if (item && item.posterUrl) {
                        const imgElement = document.createElement('img');
                        imgElement.src = item.posterUrl;
                        imgElement.id = item.id;
                        imgElement.alt = item.full_name;
                        imgElement.addEventListener('click', redirectToActor);
                        actorElement.appendChild(imgElement);
                    }
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });
    fetch('http://luca-app:5000/luca-app/main/todayActors', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch the JSON data. Status: ' + response.status);
            }
            return response.json();
        })
        .then(data => {
            console.log('DATA today: ', data);
            if (data && Array.isArray(data)) {
                const actorElement = document.querySelector('.today-actors .actor-element');
                data.forEach(item => {
                    if (item && item.posterUrl) {
                        const imgElement = document.createElement('img');
                        imgElement.src = item.posterUrl;
                        imgElement.id = item.id;
                        imgElement.alt = item.full_name;
                        imgElement.addEventListener('click',redirectToActor);
                        actorElement.appendChild(imgElement);
                    }
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });

    fetch('http://luca-app:5000/luca-app/main/commingSoon', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch the JSON data. Status: ' + response.status);
            }
            return response.json();
        })
        .then(data => {
            console.log('DATA : ', data);
            if (data && Array.isArray(data)) {
                const announceElement = document.querySelector('.Coming-Soon .actor-element');
                data.forEach(item => {
                    if (item && item.posterUrl) {
                        const imgElement = document.createElement('img');
                        imgElement.src = item.posterUrl;
                        imgElement.id = item.id;
                        imgElement.alt = item.show;
                        announceElement.appendChild(imgElement);
                    }
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });
    const searchBar = document.querySelector('.search-bar input');

    searchBar.addEventListener('input', async () => {
        const searchText = searchBar.value.trim();
        if (searchText.length === 0) {
            return;
        }

        try {
            let formData = new URLSearchParams();
            formData.append('full_name', searchText);
            const response = await fetch(`http://luca-app:5000/luca-app/main/search`,{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: formData
            });
            if (!response.ok) {
                throw new Error('Failed to fetch search results');
            }
            const data = await response.json();
            if (data && Array.isArray(data)) {
                clearAutocompleteOptions();
                data.forEach(item => {
                    addAutocompleteOption(item.full_name);
                    console.log(item.full_name);
                });
            }
        } catch (error) {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        }
    });

    function clearAutocompleteOptions() {
        var result = document.querySelector('.result');
        if (result) {
            result.innerHTML = '';
        }
    }

    function addAutocompleteOption(optionText) {
        const autocompleteContainer = document.querySelector('.result');
        if (autocompleteContainer) {
            const optionElement = document.createElement('div');
            optionElement.textContent = optionText;
            optionElement.classList.add('autocomplete-option');
            autocompleteContainer.appendChild(optionElement);

            optionElement.addEventListener('click', () => {
                searchBar.value = optionText;
                clearAutocompleteOptions();
            });
        } else {
            console.error('Elementul cu clasa ".result" nu a fost găsit.');
        }
    }
</script>
</body>
</html>