<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome on AcVis!</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<h1>Navigation Page Index</h1>
<ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="actor-profile.html">Profile Actor</a></li>
    <li><a href="admin.html">Admin Page</a></li>
    <li><a href="auth/login.html">Login</a></li>
    <li><a href="auth/register.html">Register</a></li>
    <li><a href="auth/forgot.html">Forgot Password</a></li>
    <li><a href="favorites.html">Favorite</a></li>
    <li><a href="help.html">Help</a></li>
    <li><a href="news.html">News</a></li>
</ul>
</body>
</html>
