<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome on AcVis!</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<h1>Navigation Page Index</h1>
<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/actor-profile">Profile Actor</a></li>
    <li><a href="/admin">Admin Page</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/forgot">Forgot Password</a></li>
    <li><a href="/favorites">Favorite</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/news">News</a></li>
</ul>
</body>
</html>
