<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome on AcVis!</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<h1>Navigation Page Index</h1>
<ul>
    <li><a href="/luca-app/main/home">Home</a></li>
    <li><a href="/luca-app/main/about">About</a></li>
    <li><a href="/luca-app/main/actor-profile">Profile Actor</a></li>
    <li><a href="/admin">Admin Page</a></li>
    <li><a href="/luca-app/auth/login">Login</a></li>
    <li><a href="/luca-app/auth/register">Register</a></li>
    <li><a href="/luca-app/auth/forgot">Forgot Password</a></li>
    <li><a href="/luca-app/main/favorites">Favorite</a></li>
    <li><a href="/luca-app/main/help">Help</a></li>
    <li><a href="/luca-app/main/news">News</a></li>
</ul>
</body>

</html>
