<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="../../styles/authentification.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='/home';" class="tabs">Home</button>
    <div class="search-bar">
        <input type="text" placeholder="Search">
    </div>
    <button onclick="location.href='/login';" class="tabs">Sign In</button>
</div>
<div class="forget">
    <h2>Forget password</h2>
    <form method="post" action="http://localhost:3000/forgot">
        <input type="text" id="email" name="email" placeholder="Email" required>
        <button type="submit">Submit</button>
    </form>
    <p>Remembered your password? <a href="/login">Sign In</a></p>
</div>
<div class="low-bar">
    <div class="references">
        <label onclick="location.href='/about';" class="references-element" >About</label>
        <label onclick="location.href='/help';" class="references-element">Help</label>
        <label onclick="location.href='/index';" class="references-element">Site Index</label>
    </div>
</div>
</body>
</html>
