<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="/luca-app/front/styles/authentification.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='/luca-app/front/home';" class="tabs">Home</button>
    <button onclick="location.href='/luca-app/front/login';" class="tabs">Sign In</button>
</div>
<div class="forget">
    <h2>Forget password</h2>
    <form id="forgetForm" method="post" action="http://luca-app:5000/luca-app/auth/forgot">
        <input type="text" id="email" name="email" placeholder="Email" required>
        <button type="submit">Submit</button>
    </form>
    <p>Remembered your password? <a href="/luca-app/front/login">Sign In</a></p>
</div>
<div class="low-bar">
    <div class="references">
        <label onclick="location.href='/luca-app/front/about';" class="references-element" >About</label>
        <label onclick="location.href='/luca-app/front/help';" class="references-element">Help</label>
        <label onclick="location.href='/luca-app/front/index';" class="references-element">Site Index</label>
    </div>
</div>
<script>
    document.getElementById('forgetForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const email = document.getElementById("email").value;

        let formData = new URLSearchParams();
        formData.append('email', email);

        fetch('http://luca-app:5000/luca-app/auth/forgot', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: formData
        })
            .then(response => {
                // console.log('Raw Response:', response);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                console.log('Raw Response:', response);
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    alert('Mail sent successful! ');
                } else {
                    alert('Mail not sent. Check if email exists ');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred: ' + error.message);
            });
    });
</script>
</body>
</html>
