<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACVIS</title>
    <link rel="stylesheet" href="/luca-app/front/styles/authentification.css">
</head>
<body>
<div class="tab">
    <button onclick="location.href='/luca-app/front/actvis';" class="tabs">Home</button>
</div>
<div class="register">
    <h2>Sign Up</h2>
    <form id="registerForm" method="post" action="/luca-app/auth/register">
        <label>
            <input type="text" id="email" name="email" placeholder="Email" required>
            <p id="error-message1" style="color: red; display: none;">Email already exists!</p>
        </label>
        <label>
            <input type="text" id="username" name="username" placeholder="Username" required>
        </label>
            <p id="error-message2" style="color: red; display: none;">Username already exists!</p>
        <label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </label>
        <label>
            <input type="password" id="passwordCheck" name="passwordCheck" placeholder=" Enter Your Password Again" required>
        </label>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/luca-app/front/login">Login</a></p>
</div>
<div class="low-bar">
    <div class="references">
        <label onclick="location.href='/luca-app/front/about';" class="references-element">About</label>
        <label onclick="location.href='/luca-app/front/help';" class="references-element">Help</label>
        <label onclick="location.href='/luca-app/front/index';" class="references-element">Site Index</label>
    </div>
</div>
<script>
    async function checkUserCredentials(field, value) {
        let checkFormData = new URLSearchParams();
        checkFormData.append(field, value);

        try {
            const checkResponse = await fetch('http://luca-app:5000/luca-app/auth/register_userCredentialsExists', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: checkFormData
            });
            const checkData = await checkResponse.json();

            if (checkData.success && (checkData.message[0] === true || checkData.message[1] === true)) {
                if (checkData.message[0] === true && field === "username") {
                    document.getElementById("error-message2").textContent = 'Username already exists!';
                    document.getElementById("error-message2").style.display = 'block';
                } else if (checkData.message[1] === true && field === "email") {
                    document.getElementById("error-message1").textContent = 'Email already exists!';
                    document.getElementById("error-message1").style.display = 'block';
                }
            } else {
                document.getElementById("error-message1").style.display = 'none';
                document.getElementById("error-message2").style.display = 'none';
            }
        } catch (error) {
            console.error('Verification Error:', error);
            alert('Verification failed: ' + error.message);
        }
    }

    document.getElementById("email").addEventListener('blur', function() {
        checkUserCredentials("email", this.value);
    });

    document.getElementById("username").addEventListener('blur', function() {
        checkUserCredentials("username", this.value);
    });

    document.getElementById('registerForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        const email = document.getElementById("email").value;
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const password2 = document.getElementById("passwordCheck").value;

        let formData = new URLSearchParams();
        formData.append('email', email);
        formData.append('username', username);
        formData.append('password', password);
        formData.append('passwordCheck', password2);

        fetch('http://luca-app:5000/luca-app/auth/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: formData
        })
            .then(response => {
                // console.log('Raw Response:', response);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                console.log('Raw Response:', response);
                return response.json();
            })
            .then(data => {
                // console.log('Response:', data);
                if (data.success) {
                    alert('Register successful! ');
                    window.location.href = data.redirectUrl;
                } else {
                    alert('Register failed: ');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred: ' + error.message);
            });
    });

</script>
</body>
</html>