body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.tab {
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Trebuchet MS", sans-serif;
  justify-content: space-between;
  height: 60px;
  z-index: 10;
}
@media (max-width: 700px) {
  .tab {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }
}

.search-bar {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}
.search-bar input[type=text] {
  border: 1px solid #ccc;
  width: calc(100% - 20px);
  padding: 10px 10px 10px 40px;
}
.search-bar input[type=text]:hover {
  background-color: #fff;
  border-radius: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container form input[type=text] {
  border: 1px solid #ccc;
  width: calc(100% - 20px);
  padding: 10px 10px 10px 40px;
  background-color: #000;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}
.form-container form input[type=text]:hover {
  background-color: #ffd700;
  border-radius: 10px;
}
.form-container:hover {
  background-color: #ffd700;
}
@media (max-width: 700px) {
  .form-container {
    margin-top: 370px;
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  z-index: 15;
}
.intro-container .actress-name {
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 700px) {
  .intro-container .actress-name {
    margin-top: 10px;
  }
}

.intro-pictures {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}
@media (max-width: 600px) {
  .intro-pictures {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .intro-pictures {
    margin-top: 20px;
  }
}

.actor-picture, .intro-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actor-picture img, .intro-video img {
  max-height: 300px;
  width: auto;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .actor-picture img, .intro-video img {
    max-width: 100%;
  }
}

.movie-awards, .all-movies, .related-news, .statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-awards h1, .all-movies h1, .related-news h1, .statistics h1 {
  text-align: center;
  margin-top: 5%;
}

.movie-awards .movie-container, .upcoming-movies .movie-container, .all-movies .movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 600px) {
  .movie-awards .movie-container, .upcoming-movies .movie-container, .all-movies .movie-container {
    flex-direction: column;
    align-items: center;
  }
}

.movie-details {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  max-width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-details .movie-picture img {
  width: 100%;
  display: block;
}
.movie-details h2, .movie-details h3 {
  margin: 10px 0;
}
.movie-details .score {
  font-size: 16px;
  color: #555;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.references {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  height: 50px;
}

.references-element {
  margin: 5px 10px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

canvas {
  max-width: 100%;
  max-height: 400px;
  width: 100%;
  height: auto;
  margin-top: 5%;
}
@media (max-width: 600px) {
  canvas {
    margin-top: 20px;
    max-height: 300px;
  }
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  float: left;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 10px;
  height: auto;
}
@media (max-width: 600px) {
  .chart-container {
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }
}

.chart-container canvas {
  margin-bottom: 10px;
}

.chart-container button {
  margin-top: 10px;
  margin-bottom: 20%;
}

.awards-table-container {
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.awards-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}
.awards-table th, .awards-table td {
  border: 1px solid #ddd;
  padding: 15px;
}
.awards-table th {
  background-color: #000;
  color: #fff;
  text-align: center;
}
.awards-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.awards-table tr:hover {
  background-color: #ddd;
}
.awards-table td {
  text-align: center;
}

.button, .related-news button, button, .tabs, .menu-toggle, .form-container form button[type=submit], .see-movies, .chart-container button {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.button:hover, button:hover, .tabs:hover, .menu-toggle:hover, .form-container form button[type=submit]:hover, .see-movies:hover {
  background-color: #ffd700;
}

.chart-container button {
  margin-top: 10px;
}

h1 {
  margin: 20px 0;
}
@media (max-width: 700px) {
  h1 {
    margin: 10px 0;
  }
}

.autocomplete-options-container {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 37px;
}

.autocomplete-option {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-option:hover {
  background-color: #ffd700;
}

.main-content {
  padding-bottom: 60px;
}

/*# sourceMappingURL=actor-profile.css.map */
