body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.tab {
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Trebuchet MS", sans-serif;
  justify-content: space-between;
  height: 60px;
  z-index: 10;
}
@media (max-width: 700px) {
  .tab {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }
}

.tabs, .menu-toggle {
  background-color: transparent;
  color: #fff;
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.tabs:hover, .menu-toggle:hover {
  background-color: #ffd700;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}
.search-bar input[type=text] {
  border: 1px solid #ccc;
  width: calc(100% - 20px);
  padding: 10px 10px 10px 40px;
}
.search-bar input[type=text]:hover {
  background-color: #fff;
  border-radius: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding: 20px;
  box-sizing: border-box;
}

.your-favourites-actors, .your-favourites-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.your-favourites-actors h2, .your-favourites-movies h2 {
  margin-bottom: 20px;
  text-align: center;
}
.your-favourites-actors .movies-categories, .your-favourites-movies .movies-categories {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.your-favourites-actors .movies-categories:hover, .your-favourites-movies .movies-categories:hover {
  background-color: #ffd700;
  color: #000;
}

.actor-element, .your-favourites-actors .actor-element, .your-favourites-movies .actor-element {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.actor-element img, .your-favourites-actors .actor-element img, .your-favourites-movies .actor-element img {
  margin: 5px;
  width: 100%;
  max-width: 200px;
}
@media (max-width: 600px) {
  .actor-element, .your-favourites-actors .actor-element, .your-favourites-movies .actor-element {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.your-favourites-actors {
  margin: 20px 0;
}
.your-favourites-actors h2 {
  margin-bottom: 20px;
  text-align: center;
}

.your-favourites-movies {
  margin: 20px 0;
}
.your-favourites-movies h2 {
  margin-bottom: 20px;
  text-align: center;
}
.your-favourites-movies .movies-categories {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.your-favourites-movies .movies-categories:hover {
  background-color: #ffd700;
  color: #000;
}

.movie-details, .actor-details {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  max-width: 200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-details button, .actor-details button {
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.movie-details button:hover, .actor-details button:hover {
  background-color: #ffd700;
  color: #000;
}
.movie-details .movie-picture img, .movie-details .actor-picture img, .actor-details .movie-picture img, .actor-details .actor-picture img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.movie-details h2, .movie-details h3, .actor-details h2, .actor-details h3 {
  margin: 10px 0;
}

.references {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  height: 50px;
}

.references-element {
  margin: 5px 10px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.autocomplete-options-container {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 0px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 37px;
}

.autocomplete-option {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-option:hover {
  background-color: #ffd700;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  z-index: 15;
}
.intro-container .actress-name {
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 700px) {
  .intro-container .actress-name {
    margin-top: 10px;
  }
}

.intro-pictures {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}
@media (max-width: 600px) {
  .intro-pictures {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .intro-pictures {
    margin-top: 20px;
  }
}

.actor-picture, .intro-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actor-picture img, .intro-video img {
  max-height: 300px;
  width: auto;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .actor-picture img, .intro-video img {
    max-width: 100%;
  }
}

.movie-awards, .all-movies, .related-news, .statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-awards h1, .all-movies h1, .related-news h1, .statistics h1 {
  text-align: center;
  margin-top: 5%;
}

.movie-awards .movie-container, .upcoming-movies .movie-container, .all-movies .movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 600px) {
  .movie-awards .movie-container, .upcoming-movies .movie-container, .all-movies .movie-container {
    flex-direction: column;
    align-items: center;
  }
}

.movie-details {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  max-width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-details .movie-picture img {
  width: 100%;
  display: block;
}
.movie-details h2, .movie-details h3 {
  margin: 10px 0;
}
.movie-details .score {
  font-size: 16px;
  color: #555;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
}

.actor-details {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  max-width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actor-details .actor-picture img {
  width: 100%;
  display: block;
}
.actor-details h2, .actor-details h3 {
  margin: 10px 0;
}
.actor-details .score {
  font-size: 16px;
  color: #555;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
}
.actor-details button {
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.actor-details button:hover {
  background-color: #ffd700;
  color: #000;
}

.autocomplete-options-container {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 37px;
}

.autocomplete-option {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-option:hover {
  background-color: #ffd700;
}

.main-content {
  padding-bottom: 60px;
}

/*# sourceMappingURL=favourites.css.map */
